@import url('https://fonts.cdnfonts.com/css/tiro-devanagari-hindi');

h1 { text-align: center; }
.sidebar li a { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: block; }

body {
    font-family: 'Tiro Devanagari Hindi', sans-serif;
}
